.content {
  text-align: center;
  font-family: "Jockey One", sans-serif;
  padding: 100px 20px;
  margin: 25px auto;
  max-width: 1600px;
  color: rgb(37, 39, 87);
}

.show-layout {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  gap: 10px;

  flex-wrap: nowrap;
}

.show-img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.info-center {
  margin-top: 10px;
  padding: 0 40px;
  width: 270px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  border: 4px dotted rgb(59, 59, 122);
  border-radius: 10px;
  animation: glowingBorder 6s infinite ease-in-out;
}

.countdown,
.show-date,
.show-location,
.show-arena {
  font-size: 26px;
  margin-bottom: 1rem;
  line-height: 1.4;
}


@keyframes glowingBorder {
  0% {
    border-color: #f38ecf;
    box-shadow: 0 0 10px #f38ecf;
  }
  33% {
    border-color: #7aa9c4;
    box-shadow: 0 0 10px #7aa9c4;
  }
  66% {
    border-color: #b38eff;
    box-shadow: 0 0 10px #b38eff;
  }
  100% {
    border-color: #f38ecf; 
    box-shadow: 0 0 10px #f38ecf;
  }
}
