<div class="content">
  <div class="show-layout">

    <img src="assets/images/wave.png" alt="Billie 1" class="show-img" />
    <img src="assets/images/fire.png" alt="Billie 2" class="show-img" />

    <div class="info-center">
      <p class="countdown">next show in: <br> <span>{{ countdownText }}</span></p>
      <div class="show-date">{{ nextShow?.date | date:'MMMM d' }}</div>
      <div class="show-location">{{ nextShow?.city }}, {{ nextShow?.country }}</div>
      <div class="show-arena">{{ nextShow?.arena }}</div>
    </div>

    <img src="assets/images/sing.png" alt="Billie 3" class="show-img" />
    <img src="assets/images/baby.png" alt="Billie 4" class="show-img" />
  </div>
</div>
